<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Shop</li></a>
                <a href="/"><li>Cart</li></a>
                <a href="/admin"><li>Admin</li></a>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <h1>Add a Game</h1>
        <p>
            Please enter a valid steam game store url to add to our store page!
        </p>

        <form class="adminform" action="/newgame" method="post">
            <input type="text" name="steamurl" id="steamurl"
            placeholder="ex: https://store.steampowered.com/app/1172710/Dune_Awakening/" required
            >

            <button class="adminbutton">Add To Store</button>
        </form>
    </div>


    <div class="hero">
        <h1>Remove a Game</h1>
        <p>
            Please enter the EXACT name of displayed game to be removed!
        </p>

        <form class="adminform" action="/deletegame" method="post">
            <input type="text" name="delgame" id="delgame"
            placeholder="ex: Super Battle Golf" required
            >

            <button class="adminbutton">Remove From Store</button>
        </form>
    </div>


    <div class="hero" style="height: 40vh;">
        <h1>Change Game Price</h1>
        <p>
            Please enter the EXACT name of displayed game to be updated!
        </p>

        <form class="adminform" action="/updateprice" method="post">
            <input type="text" name="delgame" id="delgame"
            placeholder="ex: Super Battle Golf" required
            >
            <p>
                Please enter the new price in CENTS!
            </p>
            <input type="number" name="newprice" id="newprice" placeholder="ex: 4999 is $49.99" required>

            <button class="adminbutton">Update Price</button>
        </form>
    </div>

</body>
</html>