<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Game Store</title>
    <link rel="stylesheet" href="/styles.css">
</head>



<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Shop</li></a>
                <a href="/"><li>Cart</li></a>
                <a href="/admin"><li>Admin</li></a>
            </ul>
        </nav>
    </header>




    <div class="hero">
        <h1>Welcome</h1>
        <p>Browsing for your next game, or just fancy looking at what's new? From community 
                favourites to brand new games, see some... of them here!
        </p>

        <div>
            <button>Genres</button>
            <button>Price Range</button>
            <button>Sort by</button>
            <form action="/newgame" method="POST" >
                <label for="steamurl">new game</label>
                <input type="text" name="steamurl" id="steamurl" placeholder="steamurl">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>




    <div class="game-grid">

    </div>


    <footer>
        <h2>Thanks for shopping at the stem game store!</h2>
    </footer>

</body>
</html>