body {
    background-color: #f1f5f9;
}

nav {
    background-color: #1e293b;
    height: 4rem;
    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    font-size: 2rem;
    color: #f8fafc;
}

a {
    text-decoration: none;
    color: #f8fafc;
}

ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0;
}

.hero {
    background-color: #ffffff;
    height: 30vh;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
}

p {
    font-size: 1.3rem;
    color: #475569;
}

h1 {
    font-size: 3rem;
    color: #0f172a;
}


.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 4rem 1rem;
    gap: 1rem;
}

.game-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-title {
    display: flex;
    align-self: center;
    width: 90%;
    gap: 1rem;
    font-size: 1.2rem;
}

.genres {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    color: #0f172a;
}

.game-desc {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    background-color: #0f172a;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8fafc;

    margin-top: 4rem;
}

.adminform {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.adminbutton {
    height: 2rem;
    width: 20%;
}

.flex {
    display: flex;
}

.align-cen {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.space-between {
    justify-content: space-between;
}

.edit-button {
    height: 2rem;
    background-color: rgb(35, 109, 128);
    border-style: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    opacity: 80%;
    color: #f8fafc;
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

.remove-button {
    height: 2rem;
    background-color: red;
    border-style: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    opacity: 80%;
    color: #f8fafc;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.on-hover:hover {
    transform: scale(1.05);
}

.edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.editHeader {
    width: 90%;
}

hr {
    border: none;
    border-top: 1px solid #385682;
    margin: 2rem 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.previews {
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.preview-container > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.preview-container {
    width: 40%;
    background-color: #ededed;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    border-radius: 10px;
}

.previewinfo {
    width: 95%;
}

.preview-h2 {
    width: 95%;
}

.br5 {
    border-radius: 5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-form > label {
    font-size: 1.5rem;
    font-weight: 500;
}

.edit-form > input {
    height: 2rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.button-container > button {
    width: 30%;
    height: 3rem;
    border-style: none;
    border-radius: 10px;
    color: white;
    font-size: clamp(0.8rem, 2vw, 1rem);


}

.save-changes {
    background-color: rgb(49, 128, 217);
}

.cancel {
    background-color: rgb(124, 121, 121);

}

.save-changes:hover, .cancel:hover {
    cursor: pointer;
    transition: transform 0.2s ease;
}

@media (max-width: 600px) {

    .previews {
        flex-direction: column;
        align-items: center;
        width: 200%;
    }
}