body {
    background-color: #f1f5f9;
}

nav {
    background-color: #1e293b;
    height: 4rem;
    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    font-size: 2rem;
    color: #f8fafc;
}

a {
    text-decoration: none;
    color: #f8fafc;
}

ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0;
}

.hero {
    background-color: #ffffff;
    height: 30vh;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
}

p {
    font-size: 1.3rem;
    color: #475569;
}

h1 {
    font-size: 3rem;
    color: #0f172a;
}


.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    justify-content: center;
    align-items: center;
}

.game-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;

}

.game-title {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 90%;
}

.title-flex {
    display: flex;
    gap: 1rem;
    min-width: 0;
    
}

.game-desc {
    width: 90%;
    margin: auto;
}

footer {
    background-color: #0f172a;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f8fafc;

    margin-top: 5rem;
}